@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --font-color: #dee2e6;
  --bg-color: #495057;
  --bg-color-darker: #343a40;
  --border-color: #212529;
  --red: #f94144;
  --blue: #8ecae6;
}

html,
body {
  padding: 0;
  margin: 25px 0 0 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 1rem 5vw;
}

.push-left {
  margin-left: auto;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}
